name: git pull_request into another repo to deploy to vercel

on:
  pull_request:
    branches: 
      - main
      - develop

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    container: pandoc/latex
    steps:
      - uses: actions/checkout@v2
      - name: Install mustache (to update the date)
        run: apk add ruby && gem install mustache
      - name: creates output
        run: sh ./build.sh
      - name: Delete .github directory
        run: |
          cd ./output
          rm -rf .github
      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.JOBIS_GITHUB_TOKEN }}
        with:
          source-directory: 'output'
          destination-github-username: teamreturn
          destination-repository-name: JOBIS-FE
          user-email: ${{ secrets.RETURN_ACCOUNT_EMAIL }}
          commit-message: ${{ github.event.commits[0].message }}
          target-branch: ${{ github.base_ref }}
      - name: Test get variable exported by push-to-another-repository
        run: echo $DESTINATION_CLONED_DIRECTORY
