name: git push into another repo to deploy to vercel

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    container: pandoc/latex
    steps:
      - uses: actions/checkout@v2
      - name: Install mustache (to update the date)
        run: apk add ruby && gem install mustache
      - name: Check files before build
        run: ls -al
      - name: creates output
        run: sh ./build.sh
      - name: Check files after build
        run: ls -al ./output
      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.JOBIS_GITHUB_TOKEN }}
        with:
          source-directory: 'output'
          destination-github-username: teamreturn
          destination-repository-name: JOBIS-FE
          user-email: ${{ secrets.RETURN_ACCOUNT_EMAIL }}
          commit-message: ${{ github.event.commits[0].message }}
          target-branch: ${{ github.ref_name }}
      - name: Test get variable exported by push-to-another-repository
        run: echo $DESTINATION_CLONED_DIRECTORY
